*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-areas: 
        "navbar navbar navbar"
        "menu-lat contenido ads"
        "menu-lat pie-pag pie-pag";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 70px 1fr 50px;
    height: 100vh;
}
.navbar{
    background-color: rgb(240, 111, 111);
    grid-area: navbar;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-lat{
    background-color: rgb(99, 99, 238);
    grid-area: menu-lat;
    display: flex;
    flex-direction: column;
}
img{
    width: 100%;
}
.contenido{
    background-color: rgb(203, 111, 240);
    grid-area: contenido;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;

}
.ads{
    background-color: rgb(240, 180, 111);
    grid-area: ads;
}
.pie-pag{
    background-color: rgb(111, 240, 199);
    grid-area: pie-pag;
}

@media screen and (max-width: 600px) {
    body{
        grid-template-areas: 
            "navbar navbar"
            "menu-lat menu-lat"
            "contenido ads"
            "pie-pag pie-pag";
        grid-template-columns: 1fr 15%;
        grid-template-rows: 70px 40px 1fr 50px;
    }
}