*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    width: 100%;
    border: 1px solid orange;
}

.block{
    border: 1px solid red;
}

.inline{
    border: 1px solid blue;
}

.inline-block{
    border: 1px solid green;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.ejemplo{
    border: 2px solid purple;
}

.border-rosa{
    border: 5px solid pink;
    width: 200px;
}

.flex-container{
    border: 2px solid springgreen;
    height: 400px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;

}


nav{
    background-color: #2b2b2b;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-anchor{
    color: white;
    text-decoration: none;
}

.nav-anchor:hover{
    text-decoration: underline;
    color: paleturquoise;
}

button{
    padding: 8px;
    cursor: pointer;
    transition: all 0.1s linear;
}

button:hover{
    scale: 1.1;
}


.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu-links{
    color:black;
}

.general-container{
    display: flex;
    border: 5px solid orange;
}

menu{
    width: 15%;
    border-right: 2px solid grey;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

main{
    width: 85%;
    border: 3px solid green;
}


.galeria-imgs{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
}

.img-galeria{
    width: 250px;
    height: 300px;
    object-fit: cover;
}

.img-perrito{
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
}

.img-perrito:hover{
    filter: none;
}

.input-text{
    outline: 4px solid orange;
}

.input-text:focus{
    outline: 2px solid blue;
}


.img-galeria:hover{
    transform: scale(1.1);
}


.icono-manzana{
    font-size: 25px;
    color: red;
    rotate: 45deg;
}