*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
    display: grid;
    grid-template-areas: 
    "nav nav"
    "menu main"
    "footer main"
    ;
    min-height: 100vh;
    grid-template-rows: 70px auto 45px;
    grid-template-columns: 200px auto;

}

nav{
    grid-area: nav;
}
menu{
    display: flex;
    flex-direction: column;
    grid-area: menu;
    padding: 16px;
}
main{

    grid-area: main;
}
footer{
    grid-area: footer;
}

.grilla-animales{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 20px;
}

.card-animal{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.card-img{
    width: 100%;
    height: 170px;
    object-fit: cover;
    
}
.card-a-body{
    padding: 10px;
}
.card-desc{
    font-size: 14px;
    color: #292929;
    padding: 8px;
    border: dotted 1px #ccc;
    border-radius: 4px;
}